*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
header{
    display: block;
    height: 60.8px;  
}
body {
    min-width: 800px;
    text-align: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/debut_light.png");
}

.nav {
  display: flex;
  position: fixed;
  z-index: 10000;
  overflow: hidden;
  width: 3000px;
  max-width: 100%;
  min-width: 800px;
  background-color: #fff;
  padding: 0 20px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
  opacity: .90;
}

.nav-item {
  color: #83818c;
  padding: 20px;
  text-decoration: none;
  transition: .3s;
  margin: 0 6px;
  z-index: 1;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  position: relative;
}
.nav-item:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #dfe2ea;
  border-radius: 8px 8px 0 0;
  opacity: 0;
  transition: .3s;
}
.nav-item:nth-child(1){
    margin-left: 30px;
}
.nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item:not(.is-active):hover {
  color: #333;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: .4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 580px) {
  .nav {
    overflow: auto;
  }
}